{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="card card-body">
        <h3>{{ object.title }}</h3>
        <hr>
        <h4>Total: ${{ object.price|floatformat:2 }}</h4>
        <hr>
    </div> <br>

    <div style="width: 500px; margin-left:270px;">
        <form method="post" class="mt-4">
            {% csrf_token %}
            <h3>Cash On Delivery</h3><br>
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Full Name" required>
            </div>
            <div class="form-group">
                <input type="text" name="address" class="form-control" placeholder="Street Address" required>
            </div>
            <div class="form-group">
                <input type="text" name="city" class="form-control" placeholder="City" required>
            </div>
            <div class="form-group">
                <input type="text" name="postal_code" class="form-control" placeholder="Postal Code" required>
            </div>
            <div class="form-group">
                <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
                <input type="hidden" name="product_id" value="{{ book.id }}">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Confirm Order</button>
        </form>
    </div>
</div>
{% endblock %}
